.user-container img {
  min-width: 40vw;
}
.user-container {
  text-align: center;
  position: relative;
  width: max-content;
  margin: auto;
}
.previous, .next {
  position: absolute;
  top: 40%;
  font-size: 60px;
  cursor: pointer;
  font-weight: bold;
}
.previous{
  left: 5px;
}
.next{
  right: 5px;
}